<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Na piwo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/main.css"/>
    <link rel="stylesheet" href="../static/css/grid.css"/>
    <link rel="stylesheet" href="../static/css/index.css"/>
    <link href='http://fonts.googleapis.com/css?family=Cinzel&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../static/js/startButton.js"></script>
</head>
<body> {% load static %}
<img id="top_img" alt="backgroun_top" src="../static/img/img_top.jpg">
<div id="main_content" class="conteiner">
    <div class="row">
        <div class="col-6-6">
            <a id="title">NA PIWO</a>
            <div class="conteiner">
                <form method="post" action="{% url 'map' %}">
                    <div id="mockLocField">
                        <input id="locField" size="30" type="text" value="Enter your location"><br>
                    </div>
                    <input id="startButton" type="button" value="START">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
