<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Na piwo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/grid.css"/>
    <link rel="stylesheet" href="css/index.css"/>
    <link href='http://fonts.googleapis.com/css?family=Cinzel&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="js/startButton.js"></script>
</head>
<body>
<img id="top_img" alt="backgroun_top" src="img/img_top.jpg">
<div id="main_content" class="conteiner">
    <div class="row">
        <div class="col-6-6">
            <a id="title">NA PIWO</a>
            <div class="conteiner">
                <form>
                    <div id="mockLocField">
                        <input id="locField" size="30" type="text" value="Enter your location"></input><br>
                    </div>
                    <input id="startButton" type="button" value="START" onclick="newDoc()"></input>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
